@*
     public string CardNumber { get; set; }
        public string Holder { get; set; }
        public string ExpirationDate { get; set; }
        public string SecurityCode { get; set; }
        public bool SaveCard { get; set; }
        public string Brand { get; set; }

*@

<div class="row">
    <div class="col-md-4">
        <form action="/Home/Pagamento" method="post">
            <div class="form-group">
                <label for="Holder">Nome</label>
                <input type="text" class="form-control" id="Holder" name="Holder" placeholder="Nome do Cartão">
            </div>
            <div class="form-group">
                <label for="CardNumber">Numero</label>
                <input type="text" class="form-control" id="CardNumber" name="CardNumber" placeholder="Numero do Cartão">
            </div>
            <div class="form-group">
                <label for="ExpirationDate">Data</label>
                <input type="text" class="form-control" id="ExpirationDate" name="ExpirationDate" placeholder="Data de expiração">
            </div>
            <div class="form-group">
                <label for="SecurityCode">Codigo de segurança</label>
                <input type="text" class="form-control" id="SecurityCode" name="SecurityCode" placeholder="Codigo de Segurança">
            </div>
            <div class="form-group">
                <label for="Brand">Bandeira</label>
                <select id="Brand">
                    <option>Visa</option>
                    <option>Master Card</option>
                </select>
            </div>  
            <div class="form-group">
                <label for="SecurityCode">Codigo de segurança</label>
                <input type="text" class="form-control" id="valor" name="valor" placeholder="Valor">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
                <form action="/Home/Boleto" method="post">
                    <button type="submit" class="btn btn-default">Submit</button>
                            </form>
            </div>
</div>